<% this.adminPage = 'other'; %>
<% include admin_header %>
<form method="post" class="ui form">
  <p><button class="ui blue labeled icon button" name="type" value="reset_count" type="submit"><i class="ui repeat icon"></i>Tính lại số bài bộp và AC</button></p>
  <p><button class="ui blue labeled icon button" name="type" value="reset_discussion" type="submit"><i class="ui repeat icon"></i>Tính lại số câu và thời gian trả lời của các thảo luận</button></p>
  <p><button class="ui blue labeled icon button" name="type" value="reset_codelen" type="submit"><i class="ui repeat icon"></i>Tính lại độ dài code đã nộp</button></p>
</form>
<% include admin_footer %>
